@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header>*{
    display:inline-block;
}

nav{
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
}

header>.menu{
    /*animation: UPtoDOWN 1.5s 1 backwards ease-out;*/
}

.menu {
    nav{
        margin-top: 30px;
    }
    .menu1{
        margin: 0px 0px 0px 170px;
        transition: color 0.2s ease;
    }
    .menu2{
        transition: color 0.2s ease ;
    }
}

.menu1 a:hover, .menu2 a:hover{
    color:#393636;
    animation: menu 1s 1 backwards ease-in-out;
}

.logo{
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
}

.logo:hover{
    animation: normalzoom 2s 1 backwards ease-in;
}

.menu1 a{
    margin: 0px 20px 0px 20px;
}

span{
    margin:105px;
}

.separate{
    margin: 110px;
}

.separate2{
    margin: 3px 5px 3px 3px;
    background-color: grey;
    padding: 1px;
}

a{
    text-decoration: none;
    color:black
}

.first>*{
    margin: 10px 190px;
}

.first>img{
    margin-top: 0px;
    /*animation: RtoL 2s 1 backwards ease-out;*/
}

.first>p{
    margin: -25px 485px 0px 520px;
    position: absolute;
    font-weight: 600;
    font-size: 16px;
    /*animation: LtoR 2s 1 backwards ease-out;*/
}

article{
    display: inline-block;
}

.strength{
    h1{
        font-size: 48px;
        text-align: center;
        margin-top: 50px;
        /*animation: RtoL_transparent 2s 2s 1 backwards ease;*/
        transition: all 0.2s ease;
    }

    h1:hover{
        font-size: 49px;
        cursor: pointer;
    }

    h2{
        font-size: 38px;
        text-align: center;
        margin-top: 50px;
        /*animation: LtoR_transparent 2s 4s 1 backwards ease;*/
        transition: all 0.2s ease;
    }

    h2:hover{
        font-size: 39px;
        cursor: pointer;
    }
}

.strength1{
    display: flex;
    /*animation: zoom 2s 3s 1 backwards ease;*/
}

.support{
    margin: 70px 20px 40px 200px;
    display: inline-block;
    text-align: center;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.cashback{
    margin: 70px 10px 40px 10px;
    display: inline-block;
    text-align: center;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.payment{
    margin: 70px 200px 40px 20px;
    display: inline-block;
    text-align: center;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.payment:hover, .cashback:hover, .support:hover{
    cursor: pointer;
    background-color:#D9D9D9;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0px 0px 5px 5px rgba(70, 66, 66, 0.2);
}

.second{
    background-color: #E2E6E9;
    margin-top: 10px;
}

.strength2{
    display: flex;
    justify-content: space-around;
    h4{
        font-weight: 400;
    }
    h3{
        font-weight: 800;
    }
}

.block {
    display: flex;
    background-color: #D9D9D9;
    border-radius: 50px;
    padding: 20px;
    margin: 80px 15px;
    box-sizing: border-box;
    transition: all 0.2s ease;
    /*animation: DOWNtoUP_transparent 2s 7s 1 backwards ease-out;*/
    a{
        color: white;
        background-color: #201F1F;
        /* padding: 10%; */
        padding: 16px;
        border-radius: 84px;
        font-weight: 500;
        font-size: 16px;
    }
    h3{
        font-size: 24px
    }
    h4{
        font-size: 20px;
    }
    .info-block{
        margin: 10px 0px 0px 200px;
        max-height: 225px;
    }
    img{
        margin: -50px 0px 0px -45px;
        position: absolute;
        transform: rotate(-19.22deg);
    }
}

.block:hover, .block1:hover, .block2:hover{
    box-shadow: 0px 0px 5px 5px rgba(70, 66, 66, 0.2);
}

.block a:hover, .block1 a:hover{
    background-color:#393636;
    color: white;
    transition: all 0.5s ease;
}

.block1 {
    display: flex;
    background-color: #D9D9D9;
    border-radius: 50px;
    padding: 20px;
    margin: 120px 15px;
    box-sizing: border-box;
    transition: all 0.2s ease;
    /*animation: DOWNtoUP_transparent 2s 5s 1 backwards ease-out;*/
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 14px;
    }
    a{
        color: white;
        background-color: #201F1F;
        /* padding: 10%; */
        padding: 12px;
        border-radius: 84px;
        font-weight: 500;
        font-size: 14px;
    }
}

.block2 {
    display: flex;
    background-color: #D9D9D9;
    border-radius: 50px;
    padding: 20px;
    margin: 100px 0px;
    min-width: 100px;
    box-sizing: border-box;
    transition: all 0.2s ease;
    /*animation: DOWNtoUP_transparent 2s 6s 1 backwards ease-out;*/
    .headset{
        position: absolute;
        margin: 60px 0px 0px -40px;
        transform: rotate(7deg);
    }
    .earbud{
        position: absolute;
        margin: 10px 0px 0px -50px;
        transform: rotate(23.73deg);
    }
}

.info-block {
    text-align: center;
    display: flex;
    align-items: center;
    flex-flow: column;
    max-width: 300px;
    justify-items: center;
    min-height: 150px;
    justify-content: space-between;
}

.third{
    margin: 50px 0px;
    h1{
        font-weight: 800;
        font-size: 48px;
        margin: 0px 30px 10px 30px;
        /*animation: UPtoDOWN_transparent 2s 8s 1 backwards ease;*/
    }
    .category{
        margin: 20px;
        display: flex;
        justify-content: space-around;
        /*animation: fade 2s 9s 1 backwards ease-in-out;*/
    }
    .buy{
        align-content: center;
        justify-content: center;
        max-width: 160px;
        min-height: 160px;
        background-color: white;
        border: solid black 7px;
        box-sizing: border-box;
        transition: all 0.2s ease;
        .price{
            display: flex;
            margin: 15px 50px;
        }
        .product{
            margin: 0px 35px;
        }
        .cart{
            margin: -42px 5px;
        }
    }
    .buy_grey{
        align-content: center;
        justify-content: center;
        max-width: 160px;
        min-height: 160px;
        background-color: white;
        border: solid #D9D9D9 7px;
        box-sizing: border-box;
        transition: all 0.2s ease;
        .price{
            display: flex;
            margin: 15px 50px;
            align-items: center;
        }
        .product{
            margin: 0px 50px;
        }
        .cart{
            margin: -42px 5px;
        }
    }

    .buy:hover, .buy_grey:hover{
        box-shadow: 0px 0px 5px 5px rgba(128, 128, 128, 0.2);
    }
}

.fourth{
    display: flex;
    background-color: #222020;
    color: white;
    a{
        margin: 30px 0px;
        color: black;
        background-color: white;
        padding: 15px;
        border-radius: 84px;
        font-weight: 600;
        transition: all 0.2s ease;
    }
    h1{
        font-size: 98px;
    }
    h3{
        font-size: 26px;
    }
    h2{
        font-size: 48px;
    }
    .blocks{
        display: flex;
        h3{
            font-size: 28px;
        }
    }
    .sale{
        margin: 120px 30px 0px 80px;
    }
    .sale img{
        position: absolute;
        transform: rotate(14.59deg);
        margin: -20px 0px 0px 10px;
    }

    .sale2{
        margin: 120px 0px 120px 80px;
        /*animation: RtoL 2s 11s 1 backwards ease-out;*/
    }
    .blocks{
        margin: 20px 5px 30px 5px;
        p{
            font-weight: 400;
        }
    }
    .variant{
        margin-right: 20px;
    }
    .recommended{
        margin-right: 20px;
        margin-left: 20px;
    }
    .protection{
        margin-left: 20px;
    }
    a:hover{
        background-color: #939191;
        color:white;
    }
}

.fifth{
    background-color: #F2F2F2;
    margin-top: 60px;
    text-align: center;
    box-sizing: border-box;
    h1{
        font-size: 34px;
        padding: 3%;
        /*animation: UPtoDOWN_transparent 2s 13s 1 backwards ease-out;*/
        transition: all 0.2s ease;
    }

    h1:hover{
        font-size: 36px;
    }

    h3{
        font-size: 16px;
    }
    p{
        color: #939191;
        font-size: 14px;
    }
    .reviews{
        margin-top: 20px;
        display: flex;
    }

    .review1{
        color: white;
        background-color: #201F1F;
        margin: 20px 10px 20px 20px;
        border-radius: 30px;
        padding: 2%;
        box-sizing: border-box;
        transition: all 0.5s ease;
        /*animation: fade 1s 14s 1 backwards ease-in-out;*/
    }

    .review2{
        color: white;
        background-color: #201F1F;
        margin: 20px 0px;
        border-radius: 30px;
        padding: 2%;
        box-sizing: border-box;
        transition: all 0.5s ease;
        /*animation: fade 1s 15s 1 backwards ease-in-out;*/
    }

    .review3{
        color: white;
        background-color: #201F1F;
        margin: 20px 20px 20px 10px;
        border-radius: 30px;
        padding: 2%;
        box-sizing: border-box;
        transition: all 0.5s ease;
        /*animation: fade 1s 16s 1 backwards ease-in-out;*/
    }

    .review1:hover,.review2:hover,.review3:hover{
        box-shadow: 0px 0px 7px 7px grey;
    }

    .review1 img, .review2 img, .review3 img{
        border-radius: 50px;
    }

    .person{
        margin-top: 20px;
    }
    
    .slider{
        display: inline;
        a{
            background-color: #939191;
            color: #939191;
            font-size: 2px;
            font-weight: 100;
            /*animation: fade 1s 17s 1 backwards ease;*/
            transition: all 0.2s ease;
        }
        a:hover{
            background-color: #201F1F;
        }
    }
}

.sixth{
    margin-top: 60px;
    background-color:#222020;
    color: white;
    display: flex;
    .information{
        margin: 100px;
        /*animation: LtoR 2s 18s 1 backwards ease;*/
        h1{
            font-size: 48px;
        }
        img{
            margin-top: 50px;
        }
    }
    .contact{
        margin: 100px;
        display: block;
        /*animation: RtoL 2s 18s 1 backwards ease;*/
        h3{
            font-weight: 600;
            margin-bottom: 40px;
        }
        h4{
            color:#939191;
            font-weight: 600;
            font-size: 14px;
        }
    }

}

footer{
    color: white;
    /*animation: DOWNtoUP_transparent 2s 7s 1 backwards ease;*/
    .background{
        position: absolute;
        z-index: 1;
    }
    .logo{
        width: 10%;
        position: absolute;
        z-index: 2;
        margin: 35px 40px 0px;
    }
    .menu1{
        position: relative;
        z-index: 3; 
        display: flex;
        justify-content: center;
        padding-top: 20px; 
        padding-top: 20px; 
        a{
            transition: all 0.5s ease;
            color: white;
        }
    }
    .menu1 a:hover{
        color: #939191;
    }
    /*Bikin hovernya ya biar dia ga gabung ama yang di header*/
    .menu2{
        position: relative;
        z-index: 4; 
        display: flex;
        margin: -40px 50px;
        justify-content: end;
        padding-top: 20px; 
        p{
            color: white;
            transition: all 0.2s ease;
        }
    }
    .menu2 p:hover{
        color: #939191;
        
    }
}

/*Keyframes*/
@keyframes UPtoDOWN{
    0%{
        transform: translate(0px, -200px);
    }
    25%{
        transform: translate(0px, -100px);
    }
    50%{
        transform: translate(0px, -50px);
    }
    100%{
        transform: translate(0px);
    }
}

@keyframes RtoL{
    0%{
        transform: translate(1000px, 0px);
    }
    100%{
        transform: translate(0px);
    }
}

@keyframes LtoR{
    0%{
        transform: translate(-2000px);
    }
    100%{
        transform: translate(0px);
    }
}

@keyframes RtoL_transparent{
    0%{
        transform: translate(1000px, 0px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}

@keyframes LtoR_transparent{
    0%{
        transform: translate(-2000px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}

@keyframes zoom{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    50%{
        opacity: 0.5;
        transform: scale(1.1);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes DOWNtoUP_transparent{
    0%{
        transform: translate(0px, 200px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}

@keyframes UPtoDOWN_transparent{
    0%{
        transform: translate(0px, -100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes menu{
    0%{
        font-size: 14px;
    }
    50%{
        font-size: 15px;
    }
    100%{
        font-size: 14px;
    }
}

@keyframes normalzoom{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

/*about section*/

.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.sixth_about{
    margin-top: 60px;
    background-color:#222020;
    color: white;
    display: flex;
    .information{
        margin: 100px;
        /*animation: LtoR 2s 1 backwards ease;*/
        h1{
            font-size: 48px;
        }
        img{
            margin-top: 50px;
        }
    }
    .contact{
        margin: 100px;
        display: block;
        /*animation: LtoR 2s 1 backwards ease;*/
        h3{
            font-weight: 600;
            margin-bottom: 40px;
        }
        h4{
            color:#939191;
            font-weight: 600;
            font-size: 14px;
        }
    }
}

.footer_about{
    color: white;
    /*animation: DOWNtoUP_transparent 2s 1 backwards ease;*/
    .background{
        position: absolute;
        z-index: 1;
    }
    .logo{
        width: 10%;
        position: absolute;
        z-index: 2;
        margin: 35px 40px 0px;
    }
    .menu1{
        position: relative;
        z-index: 3; 
        display: flex;
        justify-content: center;
        padding-top: 20px; 
        padding-top: 20px; 
        a{
            transition: all 0.5s ease;
            color: white;
        }
    }
    .menu1 a:hover{
        color: #939191;
    }
    /*Bikin hovernya ya biar dia ga gabung ama yang di header*/
    .menu2{
        position: relative;
        z-index: 4; 
        display: flex;
        margin: -40px 50px;
        justify-content: end;
        padding-top: 20px; 
        p{
            color: white;
            transition: all 0.2s ease;
        }
    }
    .menu2 p:hover{
        color: #939191;   
    }
}

@media screen and (max-width: 480px) {
    .logo{
        width: 15%;
        margin-left: 15px;
        height: auto;
        object-fit: contain;
    }

    nav{
        font-size: 10px;
    }

    .menu1{
        overflow: hidden;
        position: fixed;
        background: #222020;
        height: 100vh;
        width: 60vh;
        top: 0;
        right: -2000px;
    }

    .menu1 a{
        display: block;
        margin: 10px;
        color: #D9D9D9;
    }

    .menu2{
        position: absolute;
        top: -10px;
        right: 20px;
        a{
            font-size: 8px;
        }
    }

    .first>img{
        height: 50%vh;
        object-fit: contain;
        margin: 50px;
        justify-content: center;
    }

    .first>p{
        font-size: 10px;
        margin: -50px 100px;
        justify-content: center;
    }

    .second{
        .strength{
            margin: 0 -510px;
            align-content: center;
            h1{
                font-size: 16px;
            }
            .strength1{
                display: block;
                margin: 0;
                .support{
                    margin: 20px 500px;
                    .circle{
                        width: 9%;
                    }
                }
                .cashback{
                    margin: 0px 500px;
                    .circle{
                        width: 9%;
                    }
                }
                .payment{
                    margin: 20px 500px;
                    .circle{
                        width: 9%;
                    }
                }
                h3{
                    font-size: 12px;
                }
                p{
                    font-size: 10px;
                }
            }

            h2{
                font-size: 16px;
            }
            .strength2{
                display: flex;
            }
        }
    }
    .third{
        margin: 10px;
        display: flex;
        flex-direction: column;
        h1{
            font-size: 20px;
            display: flex;
            align-self: center;
        }
        .category{
            display: block;
            margin: 0px 40px;
            .buy{
                display: inline-block;
                margin: 0px 1px 10px;
            }
            .buy_grey{
                display: inline-block;
            }
        }
    }
    .third>span{
        margin: 0;
    }
    .fourth{
        display: flex;
        flex-direction: column;
        .sale{
            align-self: center;
            margin: 50px;
            img{
                width: 50%;
            }
            h3{
                font-size: 36px;
            }
            h1{
                font-size: 48px;
                text-align: center;
            }
        }
        .sale2{
            margin: 10px;
            h2{
                text-align: center;
                font-size: 36px;
            }
            .blocks{
                margin: 30px;
                .variant, .recommended, .protection{
                    text-align: center;
                    p{
                        text-align: center;
                    }
                }
            }
            a{
                margin: 0 145px 20px;
                display: inline-block;
            }
        }
    }
    .fifth{
        h1{
            font-size: 24px;
        }
        .reviews{
            .review1{
                margin: 8px;
                width: 95vw;
            }
            .review2{
                display: none;
                margin: 8px;
                width: 95vw;
            }
            .review3{
                display: none;
                margin: 8px;
                width: 95vw;
            }
        }
    }
    footer{
        .menu_footer{
            display: none;
        }
    }
}
